@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Plus Jakarta Sans", sans-serif;
}
:root {
	--bezier-bounce: 0.1, 0.885, 0.32, 1.575;
	/* --bezier-bounce: 0.175, 0.885, 0.32, 1.275; */
}

.max-container {
	max-width: 1360px;
	margin: 0 auto;
}

.light-theme::before,
.dark-theme::before {
	transition: transform 0.5s cubic-bezier(var(--bezier-bounce));
}
.light-theme::before {
	transform: translate3d(0, 0, 0);
}

.dark-theme::before {
	transform: translate3d(0, 46px, 0);
}
